body{
	padding: 0;
	margin: 0;
}
h1{
	color: lightseagreen;
}

#menu-main-navigation {
	list-style-type: none;
}

#menu-main-navigation li {
	display: inline;
}

#container {
	width: 80%;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

#sidebar {
	max-width: 20%;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;

}

.article img {
	width: 40%;
	height: auto;
	margin: 10px 20px;
}
.article .container {
	margin: 10px 20px;
	display: inline-block;
	width: calc(59% - 80px);
	vertical-align: top;
}

.buttons-pagination{
	text-align: center;
	margin: 30px;
}
.buttons-pagination a{
	display:inline-block;
	width: 100px;
	text-decoration: none;
	color: white;
	background-color: lightseagreen;
	border: solid 1px black;
	padding: 10px;
	border-radius: 7px;
}
.buttons-pagination a:hover{
	color: white;
}
a {
	text-decoration: none;
	color: darkslategrey;
}
a:hover {
	color: lightseagreen;
	font-weight: bold;
}